{% extends 'base.html' %}

{% block title %}Update task{% endblock%}

{% block content %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Update task {{ object.id }}</h5>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.title.id_for_label }}" class="form-label">
                                {{ form.title.label }}
                            </label>
                            {{ form.title }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.description.id_for_label }}" class="form-label">
                                {{ form.description.label }}
                            </label>
                            {{ form.description }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.status.id_for_label }}" class="form-label">
                                {{ form.status.label }}
                            </label>
                            {{ form.status }}
                        </div>
                        <div class="form-group">
                            {% if user == object.reporter %}
                                <label for="{{ form.assignee.id_for_label }}" class="form-label">
                                {{ form.assignee.label }}
                            </label>
                                {{ form.assignee }}
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}